/* fonts */
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@500&display=swap'); 
/*-------------- 
  common styles 
---------------*/
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}

section{
    margin-top: 50px;
}
/*------------------
    nav-var styles 
 ------------------*/

.nav-var{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    justify-content: center;
}
.nav-item li{
    list-style: none;
    padding: 25px;
}

/*--------------------
    top-banner styles
 --------------------*/
 .flexible-container{
     display: flex;
     margin-left: 50px;
     margin-right: 50px
    
 }
 .half-width{
     width: 40%;
     padding: 5%;
 }
 .half-width img{
    width: 100%;
    margin-top: -80px;
 }
 .link-button{
    text-decoration: none;
    background-color: rgba(250, 7, 100, 0.898);
    padding: 8px 25px;
    color: white;
    border-radius: 35px;
    font-weight: 700;
    font-size: 15px;
}
/*---------------------
    logo-banner styles 
---------------------*/
.logo{
    margin: 70px;
    padding: 0%;
}
.logo-item{
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.logo-item li{
    margin-left: 25px;
    padding: 20px;
}
/*----------------------------
   popular collections styles
 ----------------------------*/
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    margin-right: 100px;
    grid-column-gap: 30px;
   
}
.collection{
    border: 0px solid white;
    box-shadow:1px 1px 20px  gray;
    padding: 5px;
    border-radius: 5px;
}
.collection img{
    width: 100%;
}
 .section-title{
    text-align: center;

}
.fa-star{
    font-size: 12px
}
.fa-star.filled{
    color:#FFC014 ;
}
.fa-star.empty{
    color:#AEAEAE ;
}
.collection-info{
    display: flex;
    align-items: center;
}

/*------------------------- 
  featured products style 
--------------------------*/
.Featured-products{
    margin-left: 100px;
    margin-right: 100px;
}
.feature img{
    margin-top: 30px;
}

/*--------------
   footer style 
 --------------*/
 footer{
     background-color: black;
     color: white;
     text-align: center;
     justify-content: last baseline;
 }
footer p{
    font-size: 12px;
}
.social-communiction{
    display: flex;
    justify-content: center;
}
.social-communiction li{
    list-style: none;
    padding: 10px;
    height: 40px;
    width: 40px;
}

