body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
/*------------------
    nav-var start 
 ------------------*/

.nav-var{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    justify-content: center;
}
.nav-item li{
    list-style: none;
    padding: 25px;
}

/*--------------------
    top-banner start 
 --------------------*/
 .flexible-container{
     display: flex;
    
 }
 .half-width{
     width: 40%;
     padding: 5%;
 }
 .half-width img{
    width: 100%;
    margin-top: -100px;
 }
 .link-button{
    text-decoration: none;
    background-color: rgba(250, 7, 100, 0.898);
    padding: 8px 25px;
    color: white;
    border-radius: 35px;
    font-weight: 700;
    font-size: 15px;
}
/*---------------------
    logo-banner start 
---------------------*/
.logo{
    margin: 70px;
    padding: 0%;
}
.logo-item{
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
   
    
}
.logo-item li{
    margin-left: 25px;
    padding: 20px;
    
}